absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arxiv
astor
attrs
beautifulsoup4
bitarray
blake3
cachetools
cantera
cbor2
certifi
cffi
cftime
chardet
charset-normalizer
chemicals
chess
cinemagoer
clarabel
click
cloudpickle
compressed-tensors
contourpy
coolprop
cryptography
curl_cffi
cvxpy
cycler
dask
dataclasses-json
depyf
dill
diskcache
distro
dnspython
docopt
duckduckgo_search
ecos
einops
email_validator
engcoolprop
fastrlock
feedparser
filelock
fire
fluids
fonttools
frozendict
frozenlist
fsspec
future
galois
geographiclib
geopandas
geopy
gguf
gitdb
GitPython
googletrans
greenlet
h11
h2
hf-xet
hpack
hstspreload
html5lib
httpcore
httptools
httpx
httpx-sse
hyperframe
iapws
idna
igraph
IMDbPY
immutabledict
importlib_metadata
inflect
iniconfig
inquirerpy
interegular
Jinja2
jiter
joblib
json_repair
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
lark
llguidance
llvmlite
lm-format-enforcer
locket
lxml
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
mcp
mdurl
minizinc
mistral_common
more-itertools
Mosek
mpmath
msgpack
msgspec
multidict
multiprocess
multitasking
mypy_extensions
netCDF4
networkx
ninja
nltk
num2words
numba
numpy
numpy-financial
opencv-python-headless
orjson
ormsgpack
ortools
osqp
outlines_core
packaging
pandas
partd
partial-json-parser
patsy
pdfminer.six
pdfplumber
peewee
pfzy
pillow
platformdirs
pluggy
portalocker
primp
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
PuLP
py-cpuinfo
pyarrow
pybase64
pybloom_live
pycosat
pycountry
pycparser
pycrypto
pycryptodomex
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pylatexenc
pyogrio
pyparsing
PyPDF2
pypdfium2
pyproj
pysat
pyskiplist
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
rdflib
rdkit
readabilipy
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rich-toolkit
rignore
rouge_score
rpds-py
ruamel.yaml
ruamel.yaml.clib
ruptures
safetensors
scikit-learn
scipy
scs
sentencepiece
sentry-sdk
setuptools
sgmllib3k
shapely
shellingham
six
smmap
sniffio
socksio
soundfile
soupsieve
soxr
SPARQLWrapper
SQLAlchemy
sse-starlette
starlette
statsmodels
steam
steamweb
sympy
tenacity
termcolor
texttable
thermo
threadpoolctl
toolz
tqdm
typeguard
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
uvloop
vdf
watchfiles
wcwidth
webencodings
websockets
wheel
wikipedia
xarray
xgrammar
xxhash
yarl
yfinance
z3-solver
zipp
zstandard
